@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, abbr, acronym, address, big, cite, code, del, dfn, em, font, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, hgroup, menu, nav, summary, time, mark, audio, video, header, footer, input, b {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
  background: transparent; }

body {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: #fff;
  color: #353535;
  font-family: "微软雅黑";
  font-size: .32rem; }

ul, li, ol {
  list-style: none;
  overflow: hidden;
  position: relative; }

.w70 {
  width: 1.4rem; }

.boxsing, header {
  box-sizing: border-box; }

a {
  color: #353535;
  text-decoration: none; }

header .mtop .mmenu, header .mtop .msearch {
  background: url("http://www.todayonhistory.com/style/images/icons.gif") no-repeat; }

header {
  z-index: 100;
  overflow: visible;
  position: relative;
  width: 100%;
  top: 0;
  margin: 0 auto; }
  header .mtop {
    height: 1rem;
    background: #da4041;
    line-height: 1rem;
    z-index: 10;
    display: block;
    position: relative; }
    header .mtop .mlogo {
      background-image: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      float: left;
      margin-left: 0.28rem;
      width: .8rem;
      background: url("http://www.todayonhistory.com/style/images/prtr.png") right center no-repeat;
      background-color: #da4041;
      height: 1rem; }
      header .mtop .mlogo img {
        width: .42rem;
        height: .42rem;
        padding: 0;
        margin: 0;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        display: inline-block;
        max-width: 100%; }
    header .mtop .mpos {
      float: left;
      text-align: left;
      font-size: .52rem;
      color: #fff;
      padding-left: .1rem;
      width: 61%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 1rem;
      overflow: hidden; }
      header .mtop .mpos a {
        color: #fff;
        font-weight: 600;
        font-size: .38rem;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center; }
      header .mtop .mpos i {
        display: inline-block;
        width: .34rem;
        height: 1rem;
        background: url("http://www.todayonhistory.com/style/images/prtr.png") no-repeat right center;
        color: #da4041; }
    header .mtop .mmenu {
      width: 20px;
      height: 20px;
      background-position: -22px 0;
      float: right;
      margin-top: .36rem;
      margin-right: .24rem;
      cursor: pointer; }
    header .mtop .msearch {
      width: 21px;
      height: 21px;
      background-position: 0 0;
      float: right;
      margin-top: .34rem;
      margin-right: .4rem;
      cursor: pointer; }
  header ul {
    overflow: hidden;
    width: 100%;
    background: #FFFFFF;
    border-bottom: .04rem solid #ccc; }
    header ul li {
      width: 1rem;
      float: left;
      text-align: center; }
      header ul li a {
        height: 1rem;
        border-bottom: .06rem solid #fff;
        display: block;
        line-height: 1rem; }

.main {
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto; }
  .main .mdylist {
    border-bottom: .32rem solid #EDEDED;
    border-top: .32rem solid #EDEDED; }
    .main .mdylist .limg {
      border-top: 1px solid #DCDCDC;
      padding: 0 .32rem;
      padding-bottom: .32rem;
      overflow: hidden; }
      .main .mdylist .limg p {
        width: 55vw;
        margin-top: .32rem;
        float: left; }
        .main .mdylist .limg p .title {
          line-height: .32rem;
          margin-top: .16rem;
          height: .9rem;
          display: block; }
      .main .mdylist .limg span {
        margin-left: 0.2rem; }
      .main .mdylist .limg .img {
        width: 35%;
        float: right;
        margin-top: .28rem;
        height: 0;
        padding-bottom: 22%;
        overflow: hidden; }
        .main .mdylist .limg .img img {
          padding: 0;
          margin: 0;
          vertical-align: middle;
          display: inline-block;
          max-width: 100%; }

#back {
  display: none;
  background: url(http://www.todayonhistory.com/style/images/dyicos.png) no-repeat;
  background-position: 0 -161px;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer; }

footer {
  width: 100%;
  height: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  background: #f5f5f5; }
  footer span {
    display: inline-block;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    font-size: 0.32rem;
    color: #001526; }
    footer span i {
      display: inline-block;
      font-size: 0.2rem;
      background: #f43b3b;
      color: #fff;
      font-style: normal;
      height: 0.21rem;
      line-height: 0.21rem;
      vertical-align: text-top; }

#bottom {
  width: 100%;
  height: 1rem;
  background: #DA4041;
  margin-bottom: 1rem; }
  #bottom p {
    font-size: .25rem;
    color: #fff;
    text-align: center; }
